<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat illo consequatur autem fuga aspernatur sit. Ipsam excepturi enim aspernatur harum?</p>
  <hr class="my-4">
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat illo consequatur autem fuga aspernatur sit. Ipsam excepturi enim aspernatur harum?</p>
  <a href="https://github.com" class="btn btn-primary">Anghy</a>
</div>